#apathy pre { white-space: pre-wrap; font-family: monospace; color: #81b5ac; background-color: #031a16; }
#apathy pre { font-family: monospace; color: #81b5ac; background-color: #031a16; }
#apathy * { font-size: 1em; }
#apathy .Special { color: #963e4c; }
#apathy .Identifier { color: #3e9688; }
#apathy .Statement { color: #3e9688; font-weight: bold; }
#apathy .PreProc { color: #3e4c96; }
#apathy .Number { color: #3e7996; }
#apathy .Operator { color: #81b5ac; }
#apathy .String { color: #883e96; }
#apathy .Comment { color: #2b685e; }
#apathy .Conditional { color: #4c963e; }
