#atelier-seaside pre { white-space: pre-wrap; font-family: monospace; color: #8ca68c; background-color: #131513; }
#atelier-seaside pre { font-family: monospace; color: #8ca68c; background-color: #131513; }
#atelier-seaside * { font-size: 1em; }
#atelier-seaside .Special { color: #1999b3; }
#atelier-seaside .Identifier { color: #e6193c; }
#atelier-seaside .Statement { color: #e6193c; font-weight: bold; }
#atelier-seaside .PreProc { color: #98981b; }
#atelier-seaside .Number { color: #87711d; }
#atelier-seaside .Operator { color: #8ca68c; }
#atelier-seaside .String { color: #29a329; }
#atelier-seaside .Comment { color: #687d68; }
#atelier-seaside .Conditional { color: #ad2bee; }
