#atelier-seaside-light pre { white-space: pre-wrap; font-family: monospace; color: #5e6e5e; background-color: #f4fbf4; }
#atelier-seaside-light pre { font-family: monospace; color: #5e6e5e; background-color: #f4fbf4; }
#atelier-seaside-light * { font-size: 1em; }
#atelier-seaside-light .Special { color: #1999b3; }
#atelier-seaside-light .Identifier { color: #e6193c; }
#atelier-seaside-light .Statement { color: #e6193c; font-weight: bold; }
#atelier-seaside-light .PreProc { color: #98981b; }
#atelier-seaside-light .Number { color: #87711d; }
#atelier-seaside-light .Operator { color: #5e6e5e; }
#atelier-seaside-light .String { color: #29a329; }
#atelier-seaside-light .Comment { color: #809980; }
#atelier-seaside-light .Conditional { color: #ad2bee; }
