#atelier-lakeside pre { white-space: pre-wrap; font-family: monospace; color: #7ea2b4; background-color: #161b1d; }
#atelier-lakeside pre { font-family: monospace; color: #7ea2b4; background-color: #161b1d; }
#atelier-lakeside * { font-size: 1em; }
#atelier-lakeside .Special { color: #2d8f6f; }
#atelier-lakeside .Identifier { color: #d22d72; }
#atelier-lakeside .Statement { color: #d22d72; font-weight: bold; }
#atelier-lakeside .PreProc { color: #8a8a0f; }
#atelier-lakeside .Number { color: #935c25; }
#atelier-lakeside .Operator { color: #7ea2b4; }
#atelier-lakeside .String { color: #568c3b; }
#atelier-lakeside .Comment { color: #5a7b8c; }
#atelier-lakeside .Conditional { color: #6b6bb8; }
