#atelier-heath pre { white-space: pre-wrap; font-family: monospace; color: #ab9bab; background-color: #1b181b; }
#atelier-heath pre { font-family: monospace; color: #ab9bab; background-color: #1b181b; }
#atelier-heath * { font-size: 1em; }
#atelier-heath .Special { color: #159393; }
#atelier-heath .Identifier { color: #ca402b; }
#atelier-heath .Statement { color: #ca402b; font-weight: bold; }
#atelier-heath .PreProc { color: #bb8a35; }
#atelier-heath .Number { color: #a65926; }
#atelier-heath .Operator { color: #ab9bab; }
#atelier-heath .String { color: #918b3b; }
#atelier-heath .Comment { color: #776977; }
#atelier-heath .Conditional { color: #7b59c0; }
