#atelier-cave pre { white-space: pre-wrap; font-family: monospace; color: #8b8792; background-color: #19171c; }
#atelier-cave pre { font-family: monospace; color: #8b8792; background-color: #19171c; }
#atelier-cave * { font-size: 1em; }
#atelier-cave .Special { color: #398bc6; }
#atelier-cave .Identifier { color: #be4678; }
#atelier-cave .Statement { color: #be4678; font-weight: bold; }
#atelier-cave .PreProc { color: #a06e3b; }
#atelier-cave .Number { color: #aa573c; }
#atelier-cave .Operator { color: #8b8792; }
#atelier-cave .String { color: #2a9292; }
#atelier-cave .Comment { color: #655f6d; }
#atelier-cave .Conditional { color: #955ae7; }
