#ayu-mirage pre { white-space: pre-wrap; font-family: monospace; color: #cccac2; background-color: #171b24; }
#ayu-mirage pre { font-family: monospace; color: #cccac2; background-color: #171b24; }
#ayu-mirage * { font-size: 1em; }
#ayu-mirage .Special { color: #95e6cb; }
#ayu-mirage .Identifier { color: #f28779; }
#ayu-mirage .Statement { color: #f28779; font-weight: bold; }
#ayu-mirage .PreProc { color: #ffd173; }
#ayu-mirage .Number { color: #ffad66; }
#ayu-mirage .Operator { color: #cccac2; }
#ayu-mirage .String { color: #d5ff80; }
#ayu-mirage .Comment { color: #707a8c; }
#ayu-mirage .Conditional { color: #d4bfff; }
