#base16-black-metal-gorgoroth pre { white-space: pre-wrap; font-family: monospace; color: #c1c1c1; background-color: #000000; }
#base16-black-metal-gorgoroth pre { font-family: monospace; color: #c1c1c1; background-color: #000000; }
#base16-black-metal-gorgoroth * { font-size: 1em; }
#base16-black-metal-gorgoroth .Identifier { color: #c1c1c1; }
#base16-black-metal-gorgoroth .Statement { color: #999999; font-weight: bold; }
#base16-black-metal-gorgoroth .PreProc { color: #aaaaaa; }
#base16-black-metal-gorgoroth .Operator { color: #aaaaaa; }
#base16-black-metal-gorgoroth .Comment { color: #333333; font-style: italic; }
#base16-black-metal-gorgoroth .String { color: #9b8d7f; font-style: italic; }
#base16-black-metal-gorgoroth .Number { color: #aaaaaa; }
#base16-black-metal-gorgoroth .Function { color: #888888; }
#base16-black-metal-gorgoroth .Conditional { color: #999999; }
