#base16-atelier-cave-light pre { white-space: pre-wrap; font-family: monospace; color: #585260; background-color: #efecf4; }
#base16-atelier-cave-light pre { font-family: monospace; color: #585260; background-color: #efecf4; }
#base16-atelier-cave-light * { font-size: 1em; }
#base16-atelier-cave-light .Identifier { color: #585260; }
#base16-atelier-cave-light .Statement { color: #955ae7; font-weight: bold; }
#base16-atelier-cave-light .PreProc { color: #398bc6; }
#base16-atelier-cave-light .Operator { color: #398bc6; }
#base16-atelier-cave-light .Comment { color: #7e7887; font-style: italic; }
#base16-atelier-cave-light .String { color: #2a9292; font-style: italic; }
#base16-atelier-cave-light .Number { color: #aa573c; }
#base16-atelier-cave-light .Function { color: #576ddb; }
#base16-atelier-cave-light .Conditional { color: #955ae7; }
