#base16-sandcastle pre { white-space: pre-wrap; font-family: monospace; color: #a89984; background-color: #282c34; }
#base16-sandcastle pre { font-family: monospace; color: #a89984; background-color: #282c34; }
#base16-sandcastle * { font-size: 1em; }
#base16-sandcastle .Identifier { color: #a89984; }
#base16-sandcastle .Statement { color: #d75f5f; font-weight: bold; }
#base16-sandcastle .PreProc { color: #83a598; }
#base16-sandcastle .Operator { color: #83a598; }
#base16-sandcastle .Comment { color: #665c54; font-style: italic; }
#base16-sandcastle .String { color: #528b8b; font-style: italic; }
#base16-sandcastle .Number { color: #a07e3b; }
#base16-sandcastle .Function { color: #83a598; }
#base16-sandcastle .Conditional { color: #d75f5f; }
