#base16-da-one-white pre { white-space: pre-wrap; font-family: monospace; color: #181818; background-color: #ffffff; }
#base16-da-one-white pre { font-family: monospace; color: #181818; background-color: #ffffff; }
#base16-da-one-white * { font-size: 1em; }
#base16-da-one-white .Identifier { color: #181818; }
#base16-da-one-white .Statement { color: #c173d1; font-weight: bold; }
#base16-da-one-white .PreProc { color: #64b5a7; }
#base16-da-one-white .Operator { color: #64b5a7; }
#base16-da-one-white .Comment { color: #585858; font-style: italic; }
#base16-da-one-white .String { color: #76a85d; font-style: italic; }
#base16-da-one-white .Number { color: #ff9470; }
#base16-da-one-white .Function { color: #5890f8; }
#base16-da-one-white .Conditional { color: #c173d1; }
