#base16-irblack pre { white-space: pre-wrap; font-family: monospace; color: #b5b3aa; background-color: #000000; }
#base16-irblack pre { font-family: monospace; color: #b5b3aa; background-color: #000000; }
#base16-irblack * { font-size: 1em; }
#base16-irblack .Special { color: #c6c5fe; }
#base16-irblack .Identifier { color: #ff6c60; }
#base16-irblack .Statement { color: #ff6c60; font-weight: bold; }
#base16-irblack .PreProc { color: #ffffb6; }
#base16-irblack .Number { color: #e9c062; }
#base16-irblack .Operator { color: #b5b3aa; }
#base16-irblack .String { color: #a8ff60; }
#base16-irblack .Comment { color: #6c6c66; }
#base16-irblack .Conditional { color: #ff73fd; }
