#base16-black-metal-burzum pre { white-space: pre-wrap; font-family: monospace; color: #c1c1c1; background-color: #000000; }
#base16-black-metal-burzum pre { font-family: monospace; color: #c1c1c1; background-color: #000000; }
#base16-black-metal-burzum * { font-size: 1em; }
#base16-black-metal-burzum .Identifier { color: #c1c1c1; }
#base16-black-metal-burzum .Statement { color: #999999; font-weight: bold; }
#base16-black-metal-burzum .PreProc { color: #aaaaaa; }
#base16-black-metal-burzum .Operator { color: #aaaaaa; }
#base16-black-metal-burzum .Comment { color: #333333; font-style: italic; }
#base16-black-metal-burzum .String { color: #ddeecc; font-style: italic; }
#base16-black-metal-burzum .Number { color: #aaaaaa; }
#base16-black-metal-burzum .Function { color: #888888; }
#base16-black-metal-burzum .Conditional { color: #999999; }
