#base16-decaf pre { white-space: pre-wrap; font-family: monospace; color: #cccccc; background-color: #2d2d2d; }
#base16-decaf pre { font-family: monospace; color: #cccccc; background-color: #2d2d2d; }
#base16-decaf * { font-size: 1em; }
#base16-decaf .Identifier { color: #cccccc; }
#base16-decaf .Statement { color: #efb3f7; font-weight: bold; }
#base16-decaf .PreProc { color: #bed6ff; }
#base16-decaf .Operator { color: #bed6ff; }
#base16-decaf .Comment { color: #777777; font-style: italic; }
#base16-decaf .String { color: #beda78; font-style: italic; }
#base16-decaf .Number { color: #ffbf70; }
#base16-decaf .Function { color: #90bee1; }
#base16-decaf .Conditional { color: #efb3f7; }
