#base24-catppuccin-latte pre { white-space: pre-wrap; font-family: monospace; color: #4c4f69; background-color: #eff1f5; }
#base24-catppuccin-latte pre { font-family: monospace; color: #4c4f69; background-color: #eff1f5; }
#base24-catppuccin-latte * { font-size: 1em; }
#base24-catppuccin-latte .String { color: #40a02b; font-style: italic; }
#base24-catppuccin-latte .Number { color: #fe640b; }
#base24-catppuccin-latte .Comment { color: #bcc0cc; font-style: italic; }
#base24-catppuccin-latte .Special { color: #179299; }
#base24-catppuccin-latte .Identifier { color: #4c4f69; }
#base24-catppuccin-latte .Statement { color: #8839ef; font-weight: bold; }
#base24-catppuccin-latte .PreProc { color: #179299; }
#base24-catppuccin-latte .Function { color: #1e66f5; }
#base24-catppuccin-latte .Conditional { color: #8839ef; }
