#base16-pasque pre { white-space: pre-wrap; font-family: monospace; color: #dedcdf; background-color: #271c3a; }
#base16-pasque pre { font-family: monospace; color: #dedcdf; background-color: #271c3a; }
#base16-pasque * { font-size: 1em; }
#base16-pasque .Special { color: #7263aa; }
#base16-pasque .Identifier { color: #a92258; }
#base16-pasque .Statement { color: #a92258; font-weight: bold; }
#base16-pasque .PreProc { color: #804ead; }
#base16-pasque .Number { color: #918889; }
#base16-pasque .Operator { color: #dedcdf; }
#base16-pasque .String { color: #c6914b; }
#base16-pasque .Comment { color: #5d5766; }
#base16-pasque .Conditional { color: #953b9d; }
