#base16-outrun-dark pre { white-space: pre-wrap; font-family: monospace; color: #d0d0fa; background-color: #00002a; }
#base16-outrun-dark pre { font-family: monospace; color: #d0d0fa; background-color: #00002a; }
#base16-outrun-dark * { font-size: 1em; }
#base16-outrun-dark .String { color: #59f176; font-style: italic; }
#base16-outrun-dark .Number { color: #fc8d28; }
#base16-outrun-dark .Comment { color: #50507a; font-style: italic; }
#base16-outrun-dark .Special { color: #0ef0f0; }
#base16-outrun-dark .Identifier { color: #d0d0fa; }
#base16-outrun-dark .Statement { color: #f10596; font-weight: bold; }
#base16-outrun-dark .PreProc { color: #0ef0f0; }
#base16-outrun-dark .Function { color: #66b0ff; }
#base16-outrun-dark .Conditional { color: #f10596; }
