#base16-measured-dark pre { white-space: pre-wrap; font-family: monospace; color: #dcdcdc; background-color: #00211f; }
#base16-measured-dark pre { font-family: monospace; color: #dcdcdc; background-color: #00211f; }
#base16-measured-dark * { font-size: 1em; }
#base16-measured-dark .Identifier { color: #dcdcdc; }
#base16-measured-dark .Statement { color: #b39be0; font-weight: bold; }
#base16-measured-dark .PreProc { color: #62c0be; }
#base16-measured-dark .Operator { color: #62c0be; }
#base16-measured-dark .Comment { color: #ababab; font-style: italic; }
#base16-measured-dark .String { color: #56c16f; font-style: italic; }
#base16-measured-dark .Number { color: #dca37c; }
#base16-measured-dark .Function { color: #88b0da; }
#base16-measured-dark .Conditional { color: #b39be0; }
