#base16-catppuccin-frappe pre { white-space: pre-wrap; font-family: monospace; color: #c6d0f5; background-color: #303446; }
#base16-catppuccin-frappe pre { font-family: monospace; color: #c6d0f5; background-color: #303446; }
#base16-catppuccin-frappe * { font-size: 1em; }
#base16-catppuccin-frappe .Identifier { color: #c6d0f5; }
#base16-catppuccin-frappe .Statement { color: #ca9ee6; font-weight: bold; }
#base16-catppuccin-frappe .PreProc { color: #81c8be; }
#base16-catppuccin-frappe .Operator { color: #81c8be; }
#base16-catppuccin-frappe .Comment { color: #51576d; font-style: italic; }
#base16-catppuccin-frappe .String { color: #a6d189; font-style: italic; }
#base16-catppuccin-frappe .Number { color: #ef9f76; }
#base16-catppuccin-frappe .Function { color: #8caaee; }
#base16-catppuccin-frappe .Conditional { color: #ca9ee6; }
