#base16-vulcan pre { white-space: pre-wrap; font-family: monospace; color: #5b778c; background-color: #041523; }
#base16-vulcan pre { font-family: monospace; color: #5b778c; background-color: #041523; }
#base16-vulcan * { font-size: 1em; }
#base16-vulcan .String { color: #977d7c; font-style: italic; }
#base16-vulcan .Number { color: #9198a3; }
#base16-vulcan .Comment { color: #7a5759; font-style: italic; }
#base16-vulcan .Special { color: #977d7c; }
#base16-vulcan .Identifier { color: #5b778c; }
#base16-vulcan .Statement { color: #9198a3; font-weight: bold; }
#base16-vulcan .PreProc { color: #977d7c; }
#base16-vulcan .Function { color: #977d7c; }
#base16-vulcan .Conditional { color: #9198a3; }
