#base16-tokyo-city-dark pre { white-space: pre-wrap; font-family: monospace; color: #d8e2ec; background-color: #171d23; }
#base16-tokyo-city-dark pre { font-family: monospace; color: #d8e2ec; background-color: #171d23; }
#base16-tokyo-city-dark * { font-size: 1em; }
#base16-tokyo-city-dark .String { color: #9ece6a; font-style: italic; }
#base16-tokyo-city-dark .Number { color: #ff9e64; }
#base16-tokyo-city-dark .Comment { color: #526270; font-style: italic; }
#base16-tokyo-city-dark .Special { color: #89ddff; }
#base16-tokyo-city-dark .Identifier { color: #d8e2ec; }
#base16-tokyo-city-dark .Statement { color: #bb9af7; font-weight: bold; }
#base16-tokyo-city-dark .PreProc { color: #89ddff; }
#base16-tokyo-city-dark .Function { color: #7aa2f7; }
#base16-tokyo-city-dark .Conditional { color: #bb9af7; }
