#base16-isotope pre { white-space: pre-wrap; font-family: monospace; color: #d0d0d0; background-color: #000000; }
#base16-isotope pre { font-family: monospace; color: #d0d0d0; background-color: #000000; }
#base16-isotope * { font-size: 1em; }
#base16-isotope .Identifier { color: #d0d0d0; }
#base16-isotope .Statement { color: #cc00ff; font-weight: bold; }
#base16-isotope .PreProc { color: #00ffff; }
#base16-isotope .Operator { color: #00ffff; }
#base16-isotope .Comment { color: #808080; font-style: italic; }
#base16-isotope .String { color: #33ff00; font-style: italic; }
#base16-isotope .Number { color: #ff9900; }
#base16-isotope .Function { color: #0066ff; }
#base16-isotope .Conditional { color: #cc00ff; }
