#base16-solarflare pre { white-space: pre-wrap; font-family: monospace; color: #a6afb8; background-color: #18262f; }
#base16-solarflare pre { font-family: monospace; color: #a6afb8; background-color: #18262f; }
#base16-solarflare * { font-size: 1em; }
#base16-solarflare .Identifier { color: #a6afb8; }
#base16-solarflare .Statement { color: #a363d5; font-weight: bold; }
#base16-solarflare .PreProc { color: #52cbb0; }
#base16-solarflare .Operator { color: #52cbb0; }
#base16-solarflare .Comment { color: #667581; font-style: italic; }
#base16-solarflare .String { color: #7cc844; font-style: italic; }
#base16-solarflare .Number { color: #e66b2b; }
#base16-solarflare .Function { color: #33b5e1; }
#base16-solarflare .Conditional { color: #a363d5; }
