#base16-monokai pre { white-space: pre-wrap; font-family: monospace; color: #f8f8f2; background-color: #272822; }
#base16-monokai pre { font-family: monospace; color: #f8f8f2; background-color: #272822; }
#base16-monokai * { font-size: 1em; }
#base16-monokai .Identifier { color: #f8f8f2; }
#base16-monokai .Statement { color: #ae81ff; font-weight: bold; }
#base16-monokai .PreProc { color: #a1efe4; }
#base16-monokai .Operator { color: #a1efe4; }
#base16-monokai .Comment { color: #75715e; font-style: italic; }
#base16-monokai .String { color: #a6e22e; font-style: italic; }
#base16-monokai .Number { color: #fd971f; }
#base16-monokai .Function { color: #66d9ef; }
#base16-monokai .Conditional { color: #ae81ff; }
