#base16-purpledream pre { white-space: pre-wrap; font-family: monospace; color: #ddd0dd; background-color: #100510; }
#base16-purpledream pre { font-family: monospace; color: #ddd0dd; background-color: #100510; }
#base16-purpledream * { font-size: 1em; }
#base16-purpledream .Identifier { color: #ddd0dd; }
#base16-purpledream .Statement { color: #b000d0; font-weight: bold; }
#base16-purpledream .PreProc { color: #0075b0; }
#base16-purpledream .Operator { color: #0075b0; }
#base16-purpledream .Comment { color: #605060; font-style: italic; }
#base16-purpledream .String { color: #14cc64; font-style: italic; }
#base16-purpledream .Number { color: #ccae14; }
#base16-purpledream .Function { color: #00a0f0; }
#base16-purpledream .Conditional { color: #b000d0; }
