#base16-atelier-cave pre { white-space: pre-wrap; font-family: monospace; color: #8b8792; background-color: #19171c; }
#base16-atelier-cave pre { font-family: monospace; color: #8b8792; background-color: #19171c; }
#base16-atelier-cave * { font-size: 1em; }
#base16-atelier-cave .String { color: #2a9292; font-style: italic; }
#base16-atelier-cave .Number { color: #aa573c; }
#base16-atelier-cave .Comment { color: #655f6d; font-style: italic; }
#base16-atelier-cave .Special { color: #398bc6; }
#base16-atelier-cave .Identifier { color: #8b8792; }
#base16-atelier-cave .Statement { color: #955ae7; font-weight: bold; }
#base16-atelier-cave .PreProc { color: #398bc6; }
#base16-atelier-cave .Function { color: #576ddb; }
#base16-atelier-cave .Conditional { color: #955ae7; }
