#base16-black-metal-khold pre { white-space: pre-wrap; font-family: monospace; color: #c1c1c1; background-color: #000000; }
#base16-black-metal-khold pre { font-family: monospace; color: #c1c1c1; background-color: #000000; }
#base16-black-metal-khold * { font-size: 1em; }
#base16-black-metal-khold .Special { color: #aaaaaa; }
#base16-black-metal-khold .Identifier { color: #5f8787; }
#base16-black-metal-khold .Statement { color: #5f8787; font-weight: bold; }
#base16-black-metal-khold .PreProc { color: #974b46; }
#base16-black-metal-khold .Number { color: #aaaaaa; }
#base16-black-metal-khold .Operator { color: #c1c1c1; }
#base16-black-metal-khold .String { color: #eceee3; }
#base16-black-metal-khold .Comment { color: #333333; }
#base16-black-metal-khold .Conditional { color: #999999; }
