#black-metal-venom pre { white-space: pre-wrap; font-family: monospace; color: #c1c1c1; background-color: #000000; }
#black-metal-venom pre { font-family: monospace; color: #c1c1c1; background-color: #000000; }
#black-metal-venom * { font-size: 1em; }
#black-metal-venom .Special { color: #aaaaaa; }
#black-metal-venom .Identifier { color: #5f8787; }
#black-metal-venom .Statement { color: #5f8787; font-weight: bold; }
#black-metal-venom .PreProc { color: #79241f; }
#black-metal-venom .Number { color: #aaaaaa; }
#black-metal-venom .Operator { color: #c1c1c1; }
#black-metal-venom .String { color: #f8f7f2; }
#black-metal-venom .Comment { color: #333333; }
#black-metal-venom .Conditional { color: #999999; }
