#black-metal-dark-funeral pre { white-space: pre-wrap; font-family: monospace; color: #c1c1c1; background-color: #000000; }
#black-metal-dark-funeral pre { font-family: monospace; color: #c1c1c1; background-color: #000000; }
#black-metal-dark-funeral * { font-size: 1em; }
#black-metal-dark-funeral .Special { color: #aaaaaa; }
#black-metal-dark-funeral .Identifier { color: #5f8787; }
#black-metal-dark-funeral .Statement { color: #5f8787; font-weight: bold; }
#black-metal-dark-funeral .PreProc { color: #5f81a5; }
#black-metal-dark-funeral .Number { color: #aaaaaa; }
#black-metal-dark-funeral .Operator { color: #c1c1c1; }
#black-metal-dark-funeral .String { color: #d0dfee; }
#black-metal-dark-funeral .Comment { color: #333333; }
#black-metal-dark-funeral .Conditional { color: #999999; }
