#blueish pre { white-space: pre-wrap; font-family: monospace; color: #c8e1f8; background-color: #182430; }
#blueish pre { font-family: monospace; color: #c8e1f8; background-color: #182430; }
#blueish * { font-size: 1em; }
#blueish .Special { color: #5fd1ff; }
#blueish .Identifier { color: #4ce587; }
#blueish .Statement { color: #4ce587; font-weight: bold; }
#blueish .PreProc { color: #82aaff; }
#blueish .Number { color: #f6a85c; }
#blueish .Operator { color: #c8e1f8; }
#blueish .String { color: #c3e88d; }
#blueish .Comment { color: #616d78; }
#blueish .Conditional { color: #ff84dd; }
