#base16-brewer pre { white-space: pre-wrap; font-family: monospace; color: #b7b8b9; background-color: #0c0d0e; }
#base16-brewer pre { font-family: monospace; color: #b7b8b9; background-color: #0c0d0e; }
#base16-brewer * { font-size: 1em; }
#base16-brewer .Identifier { color: #b7b8b9; }
#base16-brewer .Statement { color: #e31a1c; font-weight: bold; }
#base16-brewer .PreProc { color: #dca060; }
#base16-brewer .String { color: #31a354; }
#base16-brewer .Conditional { color: #756bb1; }
#base16-brewer .Number { color: #e6550d; }
#base16-brewer .Operator { color: #80b1d3; }
#base16-brewer .Comment { color: #737475; font-style: italic; }
#base16-brewer .Special { color: #80b1d3; }
