#bright pre { white-space: pre-wrap; font-family: monospace; color: #e0e0e0; background-color: #000000; }
#bright pre { font-family: monospace; color: #e0e0e0; background-color: #000000; }
#bright * { font-size: 1em; }
#bright .Special { color: #76c7b7; }
#bright .Identifier { color: #fb0120; }
#bright .Statement { color: #fb0120; font-weight: bold; }
#bright .PreProc { color: #fda331; }
#bright .Number { color: #fc6d24; }
#bright .Operator { color: #e0e0e0; }
#bright .String { color: #a1c659; }
#bright .Comment { color: #b0b0b0; }
#bright .Conditional { color: #d381c3; }
