#brogrammer pre { white-space: pre-wrap; font-family: monospace; color: #4e5ab7; background-color: #1f1f1f; }
#brogrammer pre { font-family: monospace; color: #4e5ab7; background-color: #1f1f1f; }
#brogrammer * { font-size: 1em; }
#brogrammer .Special { color: #1081d6; }
#brogrammer .Identifier { color: #d6dbe5; }
#brogrammer .Statement { color: #d6dbe5; font-weight: bold; }
#brogrammer .PreProc { color: #1dd361; }
#brogrammer .Number { color: #de352e; }
#brogrammer .Operator { color: #4e5ab7; }
#brogrammer .String { color: #f3bd09; }
#brogrammer .Comment { color: #ecba0f; }
#brogrammer .Conditional { color: #0f7ddb; }
