#brushtrees-dark pre { white-space: pre-wrap; font-family: monospace; color: #b0c5c8; background-color: #485867; }
#brushtrees-dark pre { font-family: monospace; color: #b0c5c8; background-color: #485867; }
#brushtrees-dark * { font-size: 1em; }
#brushtrees-dark .Special { color: #86b3b3; }
#brushtrees-dark .Identifier { color: #b38686; }
#brushtrees-dark .Statement { color: #b38686; font-weight: bold; }
#brushtrees-dark .PreProc { color: #aab386; }
#brushtrees-dark .Number { color: #d8bba2; }
#brushtrees-dark .Operator { color: #b0c5c8; }
#brushtrees-dark .String { color: #87b386; }
#brushtrees-dark .Comment { color: #8299a1; }
#brushtrees-dark .Conditional { color: #b386b2; }
