#base16-catppuccin pre { white-space: pre-wrap; font-family: monospace; color: #d7dae0; background-color: #1e1e28; }
#base16-catppuccin pre { font-family: monospace; color: #d7dae0; background-color: #1e1e28; }
#base16-catppuccin * { font-size: 1em; }
#base16-catppuccin .Special { color: #b5e8e0; }
#base16-catppuccin .Identifier { color: #f28fad; }
#base16-catppuccin .Statement { color: #f28fad; font-weight: bold; }
#base16-catppuccin .PreProc { color: #fae3b0; }
#base16-catppuccin .Number { color: #f8bd96; }
#base16-catppuccin .Operator { color: #d7dae0; }
#base16-catppuccin .String { color: #abe9b3; }
#base16-catppuccin .Comment { color: #575268; }
#base16-catppuccin .Conditional { color: #ddb6f2; }
