#base16-colors pre { white-space: pre-wrap; font-family: monospace; color: #bbbbbb; background-color: #111111; }
#base16-colors pre { font-family: monospace; color: #bbbbbb; background-color: #111111; }
#base16-colors * { font-size: 1em; }
#base16-colors .String { color: #2ecc40; }
#base16-colors .Number { color: #ff851b; }
#base16-colors .Comment { color: #777777; font-style: italic; }
#base16-colors .Special { color: #7fdbff; }
#base16-colors .Identifier { color: #bbbbbb; }
#base16-colors .Statement { color: #ff4136; font-weight: bold; }
#base16-colors .PreProc { color: #ffdc00; }
#base16-colors .Function { color: #0074d9; }
#base16-colors .Conditional { color: #b10dc9; }
