#cupcake pre { white-space: pre-wrap; font-family: monospace; color: #8b8198; background-color: #fbf1f2; }
#cupcake pre { font-family: monospace; color: #8b8198; background-color: #fbf1f2; }
#cupcake * { font-size: 1em; }
#cupcake .Special { color: #69a9a7; }
#cupcake .Identifier { color: #d57e85; }
#cupcake .Statement { color: #d57e85; font-weight: bold; }
#cupcake .PreProc { color: #dcb16c; }
#cupcake .Number { color: #ebb790; }
#cupcake .Operator { color: #8b8198; }
#cupcake .String { color: #a3b367; }
#cupcake .Comment { color: #bfb9c6; }
#cupcake .Conditional { color: #bb99b4; }
