#base16-da-one-white pre { white-space: pre-wrap; font-family: monospace; color: #181818; background-color: #ffffff; }
#base16-da-one-white pre { font-family: monospace; color: #181818; background-color: #ffffff; }
#base16-da-one-white * { font-size: 1em; }
#base16-da-one-white .Special { color: #64b5a7; }
#base16-da-one-white .Identifier { color: #de5d6e; }
#base16-da-one-white .Statement { color: #de5d6e; font-weight: bold; }
#base16-da-one-white .PreProc { color: #b3684f; }
#base16-da-one-white .Number { color: #ff9470; }
#base16-da-one-white .Operator { color: #181818; }
#base16-da-one-white .String { color: #76a85d; }
#base16-da-one-white .Comment { color: #585858; }
#base16-da-one-white -->
