#da-one-gray pre { white-space: pre-wrap; font-family: monospace; color: #ffffff; background-color: #181818; }
#da-one-gray pre { font-family: monospace; color: #ffffff; background-color: #181818; }
#da-one-gray * { font-size: 1em; }
#da-one-gray .Special { color: #8af5ff; }
#da-one-gray .Identifier { color: #fa7883; }
#da-one-gray .Statement { color: #fa7883; font-weight: bold; }
#da-one-gray .PreProc { color: #ff9470; }
#da-one-gray .Number { color: #ffc387; }
#da-one-gray .Operator { color: #ffffff; }
#da-one-gray .String { color: #98c379; }
#da-one-gray .Comment { color: #888888; }
#da-one-gray .Conditional { color: #e799ff; }
