#darkviolet pre { white-space: pre-wrap; font-family: monospace; color: #b08ae6; background-color: #000000; }
#darkviolet pre { font-family: monospace; color: #b08ae6; background-color: #000000; }
#darkviolet * { font-size: 1em; }
#darkviolet .Special { color: #40dfff; }
#darkviolet .Identifier { color: #a82ee6; }
#darkviolet .Statement { color: #a82ee6; font-weight: bold; }
#darkviolet .PreProc { color: #f29df2; }
#darkviolet .Number { color: #bb66cc; }
#darkviolet .Operator { color: #b08ae6; }
#darkviolet .String { color: #4595e6; }
#darkviolet .Comment { color: #593380; }
#darkviolet .Conditional { color: #7e5ce6; }
