#base16-deep-oceanic-next pre { white-space: pre-wrap; font-family: monospace; color: #dce3e8; background-color: #003b46; }
#base16-deep-oceanic-next pre { font-family: monospace; color: #dce3e8; background-color: #003b46; }
#base16-deep-oceanic-next * { font-size: 1em; }
#base16-deep-oceanic-next .String { color: #85b57a; }
#base16-deep-oceanic-next .Number { color: #ff6a4b; }
#base16-deep-oceanic-next .Comment { color: #007a8a; font-style: italic; }
#base16-deep-oceanic-next .Special { color: #4da6a6; }
#base16-deep-oceanic-next .Identifier { color: #dce3e8; }
#base16-deep-oceanic-next .Statement { color: #e6454b; font-weight: bold; }
#base16-deep-oceanic-next .PreProc { color: #ffcc66; }
#base16-deep-oceanic-next .Function { color: #3a82e6; }
#base16-deep-oceanic-next .Conditional { color: #8c4de6; }
