#base16-dracula pre { white-space: pre-wrap; font-family: monospace; color: #e9e9f4; background-color: #282936; }
#base16-dracula pre { font-family: monospace; color: #e9e9f4; background-color: #282936; }
#base16-dracula * { font-size: 1em; }
#base16-dracula .Identifier { color: #e9e9f4; }
#base16-dracula .Statement { color: #ea51b2; font-weight: bold; }
#base16-dracula .Comment { color: #626483; font-style: italic; }
#base16-dracula .Number { color: #b45bcf; }
#base16-dracula .String { color: #ebff87; }
#base16-dracula .Conditional { color: #b45bcf; }
#base16-dracula .Operator { color: #a1efe4; }
#base16-dracula .PreProc { color: #00f769; }
#base16-dracula .Special { color: #a1efe4; }
