#base16-edge-light pre { white-space: pre-wrap; font-family: monospace; color: #5e646f; background-color: #fafafa; }
#base16-edge-light pre { font-family: monospace; color: #5e646f; background-color: #fafafa; }
#base16-edge-light * { font-size: 1em; }
#base16-edge-light .String { color: #7c9f4b; }
#base16-edge-light .Number { color: #db7070; }
#base16-edge-light .Comment { color: #5e646f; font-style: italic; }
#base16-edge-light .Special { color: #509c93; }
#base16-edge-light .Identifier { color: #5e646f; }
#base16-edge-light .Statement { color: #db7070; font-weight: bold; }
#base16-edge-light .PreProc { color: #d69822; }
#base16-edge-light .Function { color: #6587bf; }
#base16-edge-light .Conditional { color: #b870ce; }
