#emil pre { white-space: pre-wrap; font-family: monospace; color: #313145; background-color: #efefef; }
#emil pre { font-family: monospace; color: #313145; background-color: #efefef; }
#emil * { font-size: 1em; }
#emil .Special { color: #2155d6; }
#emil .Identifier { color: #f43979; }
#emil .Statement { color: #f43979; font-weight: bold; }
#emil .PreProc { color: #ff669b; }
#emil .Number { color: #d22a8b; }
#emil .Operator { color: #313145; }
#emil .String { color: #0073a8; }
#emil .Comment { color: #7c7c98; }
#emil .Conditional { color: #6916b6; }
