#base16-eva pre { white-space: pre-wrap; font-family: monospace; color: #9fa2a6; background-color: #2a3b4d; }
#base16-eva pre { font-family: monospace; color: #9fa2a6; background-color: #2a3b4d; }
#base16-eva * { font-size: 1em; }
#base16-eva .String { color: #66ff66; }
#base16-eva .Number { color: #ff9966; }
#base16-eva .Comment { color: #55799c; font-style: italic; }
#base16-eva .Special { color: #4b8f77; }
#base16-eva .Identifier { color: #9fa2a6; }
#base16-eva .Statement { color: #c4676c; font-weight: bold; }
#base16-eva .PreProc { color: #ffff66; }
#base16-eva .Function { color: #15f4ee; }
#base16-eva .Conditional { color: #9c6cd3; }
