#flat pre { white-space: pre-wrap; font-family: monospace; color: #e0e0e0; background-color: #2c3e50; }
#flat pre { font-family: monospace; color: #e0e0e0; background-color: #2c3e50; }
#flat * { font-size: 1em; }
#flat .Special { color: #1abc9c; }
#flat .Identifier { color: #e74c3c; }
#flat .Statement { color: #e74c3c; font-weight: bold; }
#flat .PreProc { color: #f1c40f; }
#flat .Number { color: #e67e22; }
#flat .Operator { color: #e0e0e0; }
#flat .String { color: #2ecc71; }
#flat .Comment { color: #95a5a6; }
#flat .Conditional { color: #9b59b6; }
