#base16-framer pre { white-space: pre-wrap; font-family: monospace; color: #d0d0d0; background-color: #181818; }
#base16-framer pre { font-family: monospace; color: #d0d0d0; background-color: #181818; }
#base16-framer * { font-size: 1em; }
#base16-framer .Identifier { color: #d0d0d0; }
#base16-framer .Statement { color: #ba8cfc; font-weight: bold; }
#base16-framer .PreProc { color: #acddfd; }
#base16-framer .String { color: #32ccdc; font-style: italic; }
#base16-framer .Conditional { color: #ba8cfc; }
#base16-framer .Number { color: #fc4769; }
#base16-framer .Operator { color: #acddfd; }
#base16-framer .Comment { color: #747474; font-style: italic; }
#base16-framer .Special { color: #acddfd; }
