#framer pre { white-space: pre-wrap; font-family: monospace; color: #d0d0d0; background-color: #181818; }
#framer pre { font-family: monospace; color: #d0d0d0; background-color: #181818; }
#framer * { font-size: 1em; }
#framer .Special { color: #acddfd; }
#framer .Identifier { color: #fd886b; }
#framer .Statement { color: #fd886b; font-weight: bold; }
#framer .PreProc { color: #fecb6e; }
#framer .Number { color: #fc4769; }
#framer .Operator { color: #d0d0d0; }
#framer .String { color: #32ccdc; }
#framer .Comment { color: #747474; }
#framer .Conditional { color: #ba8cfc; }
