#base16-fruit-soda pre { white-space: pre-wrap; font-family: monospace; color: #515151; background-color: #f1ecf1; }
#base16-fruit-soda pre { font-family: monospace; color: #515151; background-color: #f1ecf1; }
#base16-fruit-soda * { font-size: 1em; }
#base16-fruit-soda .String { color: #47f74c; font-style: italic; }
#base16-fruit-soda .Number { color: #fe6d08; }
#base16-fruit-soda .Comment { color: #b5b4b6; font-style: italic; }
#base16-fruit-soda .Special { color: #0f9cfd; }
#base16-fruit-soda .Identifier { color: #515151; }
#base16-fruit-soda .Statement { color: #611fce; font-weight: bold; }
#base16-fruit-soda .PreProc { color: #0f9cfd; }
#base16-fruit-soda .Function { color: #2931df; }
#base16-fruit-soda .Conditional { color: #611fce; }
