#base16-gigavolt pre { white-space: pre-wrap; font-family: monospace; color: #e9e7e1; background-color: #202126; }
#base16-gigavolt pre { font-family: monospace; color: #e9e7e1; background-color: #202126; }
#base16-gigavolt * { font-size: 1em; }
#base16-gigavolt .Identifier { color: #e9e7e1; }
#base16-gigavolt .Statement { color: #ff661a; font-weight: bold; }
#base16-gigavolt .PreProc { color: #ffdc2d; }
#base16-gigavolt .String { color: #f2e6a9; }
#base16-gigavolt .Conditional { color: #ae94f9; }
#base16-gigavolt .Number { color: #19f988; }
#base16-gigavolt .Operator { color: #fb6acb; }
#base16-gigavolt .Comment { color: #a1d2e6; font-style: italic; }
#base16-gigavolt .Special { color: #fb6acb; }
