#grayscale-dark pre { white-space: pre-wrap; font-family: monospace; color: #b9b9b9; background-color: #101010; }
#grayscale-dark pre { font-family: monospace; color: #b9b9b9; background-color: #101010; }
#grayscale-dark * { font-size: 1em; }
#grayscale-dark .Special { color: #868686; }
#grayscale-dark .Identifier { color: #7c7c7c; }
#grayscale-dark .Statement { color: #7c7c7c; font-weight: bold; }
#grayscale-dark .PreProc { color: #a0a0a0; }
#grayscale-dark .Number { color: #999999; }
#grayscale-dark .Operator { color: #b9b9b9; }
#grayscale-dark .String { color: #8e8e8e; }
#grayscale-dark .Comment { color: #525252; }
#grayscale-dark .Conditional { color: #747474; }
