#gruvbox-material-light-hard pre { white-space: pre-wrap; font-family: monospace; color: #654735; background-color: #f9f5d7; }
#gruvbox-material-light-hard pre { font-family: monospace; color: #654735; background-color: #f9f5d7; }
#gruvbox-material-light-hard * { font-size: 1em; }
#gruvbox-material-light-hard .Special { color: #4c7a5d; }
#gruvbox-material-light-hard .Identifier { color: #c14a4a; }
#gruvbox-material-light-hard .Statement { color: #c14a4a; font-weight: bold; }
#gruvbox-material-light-hard .PreProc { color: #b47109; }
#gruvbox-material-light-hard .Number { color: #c35e0a; }
#gruvbox-material-light-hard .Operator { color: #654735; }
#gruvbox-material-light-hard .String { color: #6c782e; }
#gruvbox-material-light-hard .Comment { color: #a89984; }
#gruvbox-material-light-hard .Conditional { color: #945e80; }
