#base16-gruvbox-dark-pale pre { white-space: pre-wrap; font-family: monospace; color: #dab997; background-color: #262626; }
#base16-gruvbox-dark-pale pre { font-family: monospace; color: #dab997; background-color: #262626; }
#base16-gruvbox-dark-pale * { font-size: 1em; }
#base16-gruvbox-dark-pale .Special { color: #85ad85; }
#base16-gruvbox-dark-pale .Identifier { color: #d75f5f; }
#base16-gruvbox-dark-pale .Statement { color: #d75f5f; font-weight: bold; }
#base16-gruvbox-dark-pale .PreProc { color: #ffaf00; }
#base16-gruvbox-dark-pale .Number { color: #ff8700; }
#base16-gruvbox-dark-pale .Operator { color: #dab997; }
#base16-gruvbox-dark-pale .String { color: #afaf00; }
#base16-gruvbox-dark-pale .Comment { color: #8a8a8a; }
#base16-gruvbox-dark-pale -->
