#base16-gruvbox-dark-medium pre { white-space: pre-wrap; font-family: monospace; color: #d5c4a1; background-color: #282828; }
#base16-gruvbox-dark-medium pre { font-family: monospace; color: #d5c4a1; background-color: #282828; }
#base16-gruvbox-dark-medium * { font-size: 1em; }
#base16-gruvbox-dark-medium .Special { color: #8ec07c; }
#base16-gruvbox-dark-medium .Identifier { color: #fb4934; }
#base16-gruvbox-dark-medium .Statement { color: #fb4934; font-weight: bold; }
#base16-gruvbox-dark-medium .PreProc { color: #fabd2f; }
#base16-gruvbox-dark-medium .Number { color: #fe8019; }
#base16-gruvbox-dark-medium .Operator { color: #d5c4a1; }
#base16-gruvbox-dark-medium .String { color: #b8bb26; }
#base16-gruvbox-dark-medium .Comment { color: #665c54; }
#base16-gruvbox-dark-medium -->
