#base16-gruvbox-light-medium pre { white-space: pre-wrap; font-family: monospace; color: #504945; background-color: #fbf1c7; }
#base16-gruvbox-light-medium pre { font-family: monospace; color: #504945; background-color: #fbf1c7; }
#base16-gruvbox-light-medium * { font-size: 1em; }
#base16-gruvbox-light-medium .Identifier { color: #504945; }
#base16-gruvbox-light-medium .Statement { color: #9d0006; font-weight: bold; }
#base16-gruvbox-light-medium .Comment { color: #bdae93; font-style: italic; }
#base16-gruvbox-light-medium .Number { color: #af3a03; }
#base16-gruvbox-light-medium .String { color: #79740e; }
#base16-gruvbox-light-medium .Conditional { color: #8f3f71; }
#base16-gruvbox-light-medium .Operator { color: #427b58; }
#base16-gruvbox-light-medium .PreProc { color: #b57614; }
#base16-gruvbox-light-medium .Special { color: #427b58; }
