#base16-gruvbox-dark-hard pre { white-space: pre-wrap; font-family: monospace; color: #d5c4a1; background-color: #1d2021; }
#base16-gruvbox-dark-hard pre { font-family: monospace; color: #d5c4a1; background-color: #1d2021; }
#base16-gruvbox-dark-hard * { font-size: 1em; }
#base16-gruvbox-dark-hard .Special { color: #8ec07c; }
#base16-gruvbox-dark-hard .Identifier { color: #fb4934; }
#base16-gruvbox-dark-hard .Statement { color: #fb4934; font-weight: bold; }
#base16-gruvbox-dark-hard .PreProc { color: #fabd2f; }
#base16-gruvbox-dark-hard .Number { color: #fe8019; }
#base16-gruvbox-dark-hard .Operator { color: #d5c4a1; }
#base16-gruvbox-dark-hard .String { color: #b8bb26; }
#base16-gruvbox-dark-hard .Comment { color: #665c54; }
#base16-gruvbox-dark-hard -->
