#base16-gruvbox-dark-soft pre { white-space: pre-wrap; font-family: monospace; color: #d5c4a1; background-color: #32302f; }
#base16-gruvbox-dark-soft pre { font-family: monospace; color: #d5c4a1; background-color: #32302f; }
#base16-gruvbox-dark-soft * { font-size: 1em; }
#base16-gruvbox-dark-soft .Special { color: #8ec07c; }
#base16-gruvbox-dark-soft .Identifier { color: #fb4934; }
#base16-gruvbox-dark-soft .Statement { color: #fb4934; font-weight: bold; }
#base16-gruvbox-dark-soft .PreProc { color: #fabd2f; }
#base16-gruvbox-dark-soft .Number { color: #fe8019; }
#base16-gruvbox-dark-soft .Operator { color: #d5c4a1; }
#base16-gruvbox-dark-soft .String { color: #b8bb26; }
#base16-gruvbox-dark-soft .Comment { color: #665c54; }
#base16-gruvbox-dark-soft -->
