#hardcore pre { white-space: pre-wrap; font-family: monospace; color: #cdcdcd; background-color: #212121; }
#hardcore pre { font-family: monospace; color: #cdcdcd; background-color: #212121; }
#hardcore * { font-size: 1em; }
#hardcore .Special { color: #708387; }
#hardcore .Identifier { color: #f92672; }
#hardcore .Statement { color: #f92672; font-weight: bold; }
#hardcore .PreProc { color: #e6db74; }
#hardcore .Number { color: #fd971f; }
#hardcore .Operator { color: #cdcdcd; }
#hardcore .String { color: #a6e22e; }
#hardcore .Comment { color: #4a4a4a; }
#hardcore .Conditional { color: #9e6ffe; }
