#base16-horizon-terminal-dark pre { white-space: pre-wrap; font-family: monospace; color: #cbced0; background-color: #1c1e26; }
#base16-horizon-terminal-dark pre { font-family: monospace; color: #cbced0; background-color: #1c1e26; }
#base16-horizon-terminal-dark * { font-size: 1em; }
#base16-horizon-terminal-dark .String { color: #29d398; font-style: italic; }
#base16-horizon-terminal-dark .Number { color: #fab795; }
#base16-horizon-terminal-dark .Comment { color: #6f6f70; font-style: italic; }
#base16-horizon-terminal-dark .Special { color: #59e1e3; }
#base16-horizon-terminal-dark .Identifier { color: #cbced0; }
#base16-horizon-terminal-dark .Statement { color: #ee64ac; font-weight: bold; }
#base16-horizon-terminal-dark .PreProc { color: #59e1e3; }
#base16-horizon-terminal-dark .Function { color: #26bbd9; }
#base16-horizon-terminal-dark .Conditional { color: #ee64ac; }
