#horizon-terminal-light pre { white-space: pre-wrap; font-family: monospace; color: #403c3d; background-color: #fdf0ed; }
#horizon-terminal-light pre { font-family: monospace; color: #403c3d; background-color: #fdf0ed; }
#horizon-terminal-light * { font-size: 1em; }
#horizon-terminal-light .Special { color: #59e1e3; }
#horizon-terminal-light .Identifier { color: #e95678; }
#horizon-terminal-light .Statement { color: #e95678; font-weight: bold; }
#horizon-terminal-light .PreProc { color: #fadad1; }
#horizon-terminal-light .Number { color: #f9cec3; }
#horizon-terminal-light .Operator { color: #403c3d; }
#horizon-terminal-light .String { color: #29d398; }
#horizon-terminal-light .Comment { color: #bdb3b1; }
#horizon-terminal-light .Conditional { color: #ee64ac; }
