#humanoid-dark pre { white-space: pre-wrap; font-family: monospace; color: #f8f8f2; background-color: #232629; }
#humanoid-dark pre { font-family: monospace; color: #f8f8f2; background-color: #232629; }
#humanoid-dark * { font-size: 1em; }
#humanoid-dark .Special { color: #0dd9d6; }
#humanoid-dark .Identifier { color: #f11235; }
#humanoid-dark .Statement { color: #f11235; font-weight: bold; }
#humanoid-dark .PreProc { color: #ffb627; }
#humanoid-dark .Number { color: #ff9505; }
#humanoid-dark .Operator { color: #f8f8f2; }
#humanoid-dark .String { color: #02d849; }
#humanoid-dark .Comment { color: #60615d; }
#humanoid-dark .Conditional { color: #f15ee3; }
