#base16-humanoid-dark pre { white-space: pre-wrap; font-family: monospace; color: #f8f8f2; background-color: #232629; }
#base16-humanoid-dark pre { font-family: monospace; color: #f8f8f2; background-color: #232629; }
#base16-humanoid-dark * { font-size: 1em; }
#base16-humanoid-dark .String { color: #02d849; font-style: italic; }
#base16-humanoid-dark .Number { color: #ff9505; }
#base16-humanoid-dark .Comment { color: #60615d; font-style: italic; }
#base16-humanoid-dark .Special { color: #0dd9d6; }
#base16-humanoid-dark .Identifier { color: #f8f8f2; }
#base16-humanoid-dark .Statement { color: #f15ee3; font-weight: bold; }
#base16-humanoid-dark .PreProc { color: #0dd9d6; }
#base16-humanoid-dark .Function { color: #00a6fb; }
#base16-humanoid-dark .Conditional { color: #f15ee3; }
