#icy pre { white-space: pre-wrap; font-family: monospace; color: #095b67; background-color: #021012; }
#icy pre { font-family: monospace; color: #095b67; background-color: #021012; }
#icy * { font-size: 1em; }
#icy .Special { color: #26c6da; }
#icy .Identifier { color: #16c1d9; }
#icy .Statement { color: #16c1d9; font-weight: bold; }
#icy .PreProc { color: #80deea; }
#icy .Number { color: #b3ebf2; }
#icy .Operator { color: #095b67; }
#icy .String { color: #4dd0e1; }
#icy .Comment { color: #052e34; }
#icy .Conditional { color: #00acc1; }
