#base16-kanagawa pre { white-space: pre-wrap; font-family: monospace; color: #dcd7ba; background-color: #1f1f28; }
#base16-kanagawa pre { font-family: monospace; color: #dcd7ba; background-color: #1f1f28; }
#base16-kanagawa * { font-size: 1em; }
#base16-kanagawa .Identifier { color: #dcd7ba; }
#base16-kanagawa .Statement { color: #957fb8; font-weight: bold; }
#base16-kanagawa .PreProc { color: #6a9589; }
#base16-kanagawa .String { color: #76946a; font-style: italic; }
#base16-kanagawa .Conditional { color: #957fb8; }
#base16-kanagawa .Number { color: #ffa066; }
#base16-kanagawa .Operator { color: #6a9589; }
#base16-kanagawa .Comment { color: #54546d; font-style: italic; }
#base16-kanagawa .Special { color: #6a9589; }
