#base16-macintosh pre { white-space: pre-wrap; font-family: monospace; color: #c0c0c0; background-color: #000000; }
#base16-macintosh pre { font-family: monospace; color: #c0c0c0; background-color: #000000; }
#base16-macintosh * { font-size: 1em; }
#base16-macintosh .Special { color: #02abea; }
#base16-macintosh .Identifier { color: #dd0907; }
#base16-macintosh .Statement { color: #dd0907; font-weight: bold; }
#base16-macintosh .PreProc { color: #fbf305; }
#base16-macintosh .Number { color: #ff6403; }
#base16-macintosh .Operator { color: #c0c0c0; }
#base16-macintosh .String { color: #1fb714; }
#base16-macintosh .Comment { color: #808080; }
#base16-macintosh .Conditional { color: #4700a5; }
