#base16-marrakesh pre { white-space: pre-wrap; font-family: monospace; color: #948e48; background-color: #201602; }
#base16-marrakesh pre { font-family: monospace; color: #948e48; background-color: #201602; }
#base16-marrakesh * { font-size: 1em; }
#base16-marrakesh .Special { color: #75a738; }
#base16-marrakesh .Identifier { color: #c35359; }
#base16-marrakesh .Statement { color: #c35359; font-weight: bold; }
#base16-marrakesh .PreProc { color: #a88339; }
#base16-marrakesh .Number { color: #b36144; }
#base16-marrakesh .Operator { color: #948e48; }
#base16-marrakesh .String { color: #18974e; }
#base16-marrakesh .Comment { color: #6c6823; }
#base16-marrakesh .Conditional { color: #8868b3; }
