#base16-material-vivid pre { white-space: pre-wrap; font-family: monospace; color: #80868b; background-color: #202124; }
#base16-material-vivid pre { font-family: monospace; color: #80868b; background-color: #202124; }
#base16-material-vivid * { font-size: 1em; }
#base16-material-vivid .Special { color: #00bcd4; }
#base16-material-vivid .Identifier { color: #f44336; }
#base16-material-vivid .Statement { color: #f44336; font-weight: bold; }
#base16-material-vivid .PreProc { color: #ffeb3b; }
#base16-material-vivid .Number { color: #ff9800; }
#base16-material-vivid .Operator { color: #80868b; }
#base16-material-vivid .String { color: #00e676; }
#base16-material-vivid .Comment { color: #44464d; }
#base16-material-vivid .Conditional { color: #673ab7; }
