#base16-materia pre { white-space: pre-wrap; font-family: monospace; color: #cdd3de; background-color: #263238; }
#base16-materia pre { font-family: monospace; color: #cdd3de; background-color: #263238; }
#base16-materia * { font-size: 1em; }
#base16-materia .Identifier { color: #cdd3de; }
#base16-materia .Statement { color: #ec5f67; font-weight: bold; }
#base16-materia .Comment { color: #707880; font-style: italic; }
#base16-materia .Number { color: #ea9560; }
#base16-materia .String { color: #8bd649; }
#base16-materia .Conditional { color: #82aaff; }
#base16-materia .Operator { color: #80cbc4; }
#base16-materia .PreProc { color: #ffcc00; }
#base16-materia .Special { color: #80cbc4; }
