#base16-measured-light pre { white-space: pre-wrap; font-family: monospace; color: #292929; background-color: #fdf9f5; }
#base16-measured-light pre { font-family: monospace; color: #292929; background-color: #fdf9f5; }
#base16-measured-light * { font-size: 1em; }
#base16-measured-light .String { color: #0c680c; }
#base16-measured-light .Number { color: #ad5601; }
#base16-measured-light .Comment { color: #5a5a5a; font-style: italic; }
#base16-measured-light .Special { color: #01716f; }
#base16-measured-light .Identifier { color: #292929; }
#base16-measured-light .Statement { color: #ac1f35; font-weight: bold; }
#base16-measured-light .PreProc { color: #645a00; }
#base16-measured-light .Function { color: #0158ad; }
#base16-measured-light .Conditional { color: #6645c2; }
