#mexico-light pre { white-space: pre-wrap; font-family: monospace; color: #383838; background-color: #f8f8f8; }
#mexico-light pre { font-family: monospace; color: #383838; background-color: #f8f8f8; }
#mexico-light * { font-size: 1em; }
#mexico-light .Special { color: #4b8093; }
#mexico-light .Identifier { color: #ab4642; }
#mexico-light .Statement { color: #ab4642; font-weight: bold; }
#mexico-light .PreProc { color: #f79a0e; }
#mexico-light .Number { color: #dc9656; }
#mexico-light .Operator { color: #383838; }
#mexico-light .String { color: #538947; }
#mexico-light .Comment { color: #b8b8b8; }
#mexico-light .Conditional { color: #96609e; }
