#base16-nebula pre { white-space: pre-wrap; font-family: monospace; color: #a4a6a9; background-color: #22273b; }
#base16-nebula pre { font-family: monospace; color: #a4a6a9; background-color: #22273b; }
#base16-nebula * { font-size: 1em; }
#base16-nebula .Special { color: #226f68; }
#base16-nebula .Identifier { color: #777abc; }
#base16-nebula .Statement { color: #777abc; font-weight: bold; }
#base16-nebula .PreProc { color: #4f9062; }
#base16-nebula .Number { color: #94929e; }
#base16-nebula .Operator { color: #a4a6a9; }
#base16-nebula .String { color: #6562a8; }
#base16-nebula .Comment { color: #6e6f72; }
#base16-nebula .Conditional { color: #716cae; }
