#base16-nord pre { white-space: pre-wrap; font-family: monospace; color: #e5e9f0; background-color: #2e3440; }
#base16-nord pre { font-family: monospace; color: #e5e9f0; background-color: #2e3440; }
#base16-nord * { font-size: 1em; }
#base16-nord .Special { color: #88c0d0; }
#base16-nord .Identifier { color: #bf616a; }
#base16-nord .Statement { color: #bf616a; font-weight: bold; }
#base16-nord .PreProc { color: #ebcb8b; }
#base16-nord .Number { color: #d08770; }
#base16-nord .Operator { color: #e5e9f0; }
#base16-nord .String { color: #a3be8c; }
#base16-nord .Comment { color: #4c566a; }
#base16-nord -->
