#oceanicnext pre { white-space: pre-wrap; font-family: monospace; color: #c0c5ce; background-color: #1b2b34; }
#oceanicnext pre { font-family: monospace; color: #c0c5ce; background-color: #1b2b34; }
#oceanicnext * { font-size: 1em; }
#oceanicnext .Special { color: #5fb3b3; }
#oceanicnext .Identifier { color: #ec5f67; }
#oceanicnext .Statement { color: #ec5f67; font-weight: bold; }
#oceanicnext .PreProc { color: #fac863; }
#oceanicnext .Number { color: #f99157; }
#oceanicnext .Operator { color: #c0c5ce; }
#oceanicnext .String { color: #99c794; }
#oceanicnext .Comment { color: #65737e; }
#oceanicnext .Conditional { color: #c594c5; }
