#pandora pre { white-space: pre-wrap; font-family: monospace; color: #f15c99; background-color: #131213; }
#pandora pre { font-family: monospace; color: #f15c99; background-color: #131213; }
#pandora * { font-size: 1em; }
#pandora .Special { color: #714ca6; }
#pandora .Identifier { color: #b00b69; }
#pandora .Statement { color: #b00b69; font-weight: bold; }
#pandora .PreProc { color: #ffcc00; }
#pandora .Number { color: #ff9153; }
#pandora .Operator { color: #f15c99; }
#pandora .String { color: #9ddf69; }
#pandora .Comment { color: #ffbee3; }
#pandora .Conditional { color: #a24030; }
