#paraiso pre { white-space: pre-wrap; font-family: monospace; color: #a39e9b; background-color: #2f1e2e; }
#paraiso pre { font-family: monospace; color: #a39e9b; background-color: #2f1e2e; }
#paraiso * { font-size: 1em; }
#paraiso .Special { color: #5bc4bf; }
#paraiso .Identifier { color: #ef6155; }
#paraiso .Statement { color: #ef6155; font-weight: bold; }
#paraiso .PreProc { color: #fec418; }
#paraiso .Number { color: #f99b15; }
#paraiso .Operator { color: #a39e9b; }
#paraiso .String { color: #48b685; }
#paraiso .Comment { color: #776e71; }
#paraiso .Conditional { color: #815ba4; }
