#base16-phd pre { white-space: pre-wrap; font-family: monospace; color: #b8bbc2; background-color: #061229; }
#base16-phd pre { font-family: monospace; color: #b8bbc2; background-color: #061229; }
#base16-phd * { font-size: 1em; }
#base16-phd .Special { color: #72b9bf; }
#base16-phd .Identifier { color: #d07346; }
#base16-phd .Statement { color: #d07346; font-weight: bold; }
#base16-phd .PreProc { color: #fbd461; }
#base16-phd .Number { color: #f0a000; }
#base16-phd .Operator { color: #b8bbc2; }
#base16-phd .String { color: #99bf52; }
#base16-phd .Comment { color: #717885; }
#base16-phd -->
