#base16-primer-dark pre { white-space: pre-wrap; font-family: monospace; color: #b1bac4; background-color: #010409; }
#base16-primer-dark pre { font-family: monospace; color: #b1bac4; background-color: #010409; }
#base16-primer-dark * { font-size: 1em; }
#base16-primer-dark .Identifier { color: #b1bac4; }
#base16-primer-dark .Statement { color: #f778ba; font-weight: bold; }
#base16-primer-dark .PreProc { color: #a5d6ff; }
#base16-primer-dark .String { color: #3fb950; font-style: italic; }
#base16-primer-dark .Conditional { color: #f778ba; }
#base16-primer-dark .Number { color: #f0883e; }
#base16-primer-dark .Operator { color: #a5d6ff; }
#base16-primer-dark .Comment { color: #484f58; font-style: italic; }
#base16-primer-dark .Special { color: #a5d6ff; }
