#base16-primer-light pre { white-space: pre-wrap; font-family: monospace; color: #2f363d; background-color: #fafbfc; }
#base16-primer-light pre { font-family: monospace; color: #2f363d; background-color: #fafbfc; }
#base16-primer-light * { font-size: 1em; }
#base16-primer-light .String { color: #28a745; font-style: italic; }
#base16-primer-light .Number { color: #f66a0a; }
#base16-primer-light .Comment { color: #959da5; font-style: italic; }
#base16-primer-light .Special { color: #79b8ff; }
#base16-primer-light .Identifier { color: #2f363d; }
#base16-primer-light .Statement { color: #ea4aaa; font-weight: bold; }
#base16-primer-light .PreProc { color: #79b8ff; }
#base16-primer-light .Function { color: #0366d6; }
#base16-primer-light .Conditional { color: #ea4aaa; }
