#rose-pine pre { white-space: pre-wrap; font-family: monospace; color: #e0def4; background-color: #191724; }
#rose-pine pre { font-family: monospace; color: #e0def4; background-color: #191724; }
#rose-pine * { font-size: 1em; }
#rose-pine .Special { color: #31748f; }
#rose-pine .Identifier { color: #e2e1e7; }
#rose-pine .Statement { color: #e2e1e7; font-weight: bold; }
#rose-pine .PreProc { color: #f6c177; }
#rose-pine .Number { color: #eb6f92; }
#rose-pine .Operator { color: #e0def4; }
#rose-pine .String { color: #ebbcba; }
#rose-pine .Comment { color: #555169; }
#rose-pine .Conditional { color: #c4a7e7; }
