#base16-rose-pine pre { white-space: pre-wrap; font-family: monospace; color: #e0def4; background-color: #191724; }
#base16-rose-pine pre { font-family: monospace; color: #e0def4; background-color: #191724; }
#base16-rose-pine * { font-size: 1em; }
#base16-rose-pine .String { color: #31748f; }
#base16-rose-pine .Number { color: #f6c177; }
#base16-rose-pine .Comment { color: #6e6a86; font-style: italic; }
#base16-rose-pine .Special { color: #9ccfd8; }
#base16-rose-pine .Identifier { color: #e0def4; }
#base16-rose-pine .Statement { color: #eb6f92; font-weight: bold; }
#base16-rose-pine .PreProc { color: #ebbcba; }
#base16-rose-pine .Function { color: #c4a7e7; }
#base16-rose-pine .Conditional { color: #f6c177; }
