#base16-selenized-light pre { white-space: pre-wrap; font-family: monospace; color: #53676d; background-color: #fbf3db; }
#base16-selenized-light pre { font-family: monospace; color: #53676d; background-color: #fbf3db; }
#base16-selenized-light * { font-size: 1em; }
#base16-selenized-light .Special { color: #00978a; }
#base16-selenized-light .Identifier { color: #cc1729; }
#base16-selenized-light .Statement { color: #cc1729; font-weight: bold; }
#base16-selenized-light .PreProc { color: #a78300; }
#base16-selenized-light .Number { color: #bc5819; }
#base16-selenized-light .Operator { color: #53676d; }
#base16-selenized-light .String { color: #428b00; }
#base16-selenized-light .Comment { color: #909995; }
#base16-selenized-light -->
