#base16-shapeshifter pre { white-space: pre-wrap; font-family: monospace; color: #102015; background-color: #f9f9f9; }
#base16-shapeshifter pre { font-family: monospace; color: #102015; background-color: #f9f9f9; }
#base16-shapeshifter * { font-size: 1em; }
#base16-shapeshifter .Special { color: #23edda; }
#base16-shapeshifter .Identifier { color: #e92f2f; }
#base16-shapeshifter .Statement { color: #e92f2f; font-weight: bold; }
#base16-shapeshifter .PreProc { color: #dddd13; }
#base16-shapeshifter .Number { color: #e09448; }
#base16-shapeshifter .Operator { color: #102015; }
#base16-shapeshifter .String { color: #0ed839; }
#base16-shapeshifter .Comment { color: #555555; }
#base16-shapeshifter .Conditional { color: #f996e2; }
