#snazzy pre { white-space: pre-wrap; font-family: monospace; color: #e2e4e5; background-color: #282a36; }
#snazzy pre { font-family: monospace; color: #e2e4e5; background-color: #282a36; }
#snazzy * { font-size: 1em; }
#snazzy .Special { color: #9aedfe; }
#snazzy .Identifier { color: #ff5c57; }
#snazzy .Statement { color: #ff5c57; font-weight: bold; }
#snazzy .PreProc { color: #f3f99d; }
#snazzy .Number { color: #ff9f43; }
#snazzy .Operator { color: #e2e4e5; }
#snazzy .String { color: #5af78e; }
#snazzy .Comment { color: #78787e; }
#snazzy .Conditional { color: #ff6ac1; }
