#solarized-light pre { white-space: pre-wrap; font-family: monospace; color: #586e75; background-color: #fdf6e3; }
#solarized-light pre { font-family: monospace; color: #586e75; background-color: #fdf6e3; }
#solarized-light * { font-size: 1em; }
#solarized-light .Special { color: #2aa198; }
#solarized-light .Identifier { color: #dc322f; }
#solarized-light .Statement { color: #dc322f; font-weight: bold; }
#solarized-light .PreProc { color: #b58900; }
#solarized-light .Number { color: #cb4b16; }
#solarized-light .Operator { color: #586e75; }
#solarized-light .String { color: #859900; }
#solarized-light .Comment { color: #839496; }
#solarized-light .Conditional { color: #6c71c4; }
