#solarflare-light pre { white-space: pre-wrap; font-family: monospace; color: #586875; background-color: #f5f7fa; }
#solarflare-light pre { font-family: monospace; color: #586875; background-color: #f5f7fa; }
#solarflare-light * { font-size: 1em; }
#solarflare-light .Special { color: #52cbb0; }
#solarflare-light .Identifier { color: #ef5253; }
#solarflare-light .Statement { color: #ef5253; font-weight: bold; }
#solarflare-light .PreProc { color: #e4b51c; }
#solarflare-light .Number { color: #e66b2b; }
#solarflare-light .Operator { color: #586875; }
#solarflare-light .String { color: #7cc844; }
#solarflare-light .Comment { color: #85939e; }
#solarflare-light .Conditional { color: #a363d5; }
