#base16-solarized-dark pre { white-space: pre-wrap; font-family: monospace; color: #93a1a1; background-color: #002b36; }
#base16-solarized-dark pre { font-family: monospace; color: #93a1a1; background-color: #002b36; }
#base16-solarized-dark * { font-size: 1em; }
#base16-solarized-dark .Identifier { color: #93a1a1; }
#base16-solarized-dark .Statement { color: #6c71c4; font-weight: bold; }
#base16-solarized-dark .PreProc { color: #2aa198; }
#base16-solarized-dark .String { color: #859900; font-style: italic; }
#base16-solarized-dark .Conditional { color: #6c71c4; }
#base16-solarized-dark .Number { color: #cb4b16; }
#base16-solarized-dark .Operator { color: #2aa198; }
#base16-solarized-dark .Comment { color: #657b83; font-style: italic; }
#base16-solarized-dark .Special { color: #2aa198; }
