#spacemacs pre { white-space: pre-wrap; font-family: monospace; color: #a3a3a3; background-color: #1f2022; }
#spacemacs pre { font-family: monospace; color: #a3a3a3; background-color: #1f2022; }
#spacemacs * { font-size: 1em; }
#spacemacs .Special { color: #2d9574; }
#spacemacs .Identifier { color: #f2241f; }
#spacemacs .Statement { color: #f2241f; font-weight: bold; }
#spacemacs .PreProc { color: #b1951d; }
#spacemacs .Number { color: #ffa500; }
#spacemacs .Operator { color: #a3a3a3; }
#spacemacs .String { color: #67b11d; }
#spacemacs .Comment { color: #585858; }
#spacemacs .Conditional { color: #a31db1; }
