#spaceduck pre { white-space: pre-wrap; font-family: monospace; color: #ecf0c1; background-color: #16172d; }
#spaceduck pre { font-family: monospace; color: #ecf0c1; background-color: #16172d; }
#spaceduck * { font-size: 1em; }
#spaceduck .Special { color: #00a3cc; }
#spaceduck .Identifier { color: #e33400; }
#spaceduck .Statement { color: #e33400; font-weight: bold; }
#spaceduck .PreProc { color: #f2ce00; }
#spaceduck .Number { color: #e39400; }
#spaceduck .Operator { color: #ecf0c1; }
#spaceduck .String { color: #5ccc96; }
#spaceduck .Comment { color: #686f9a; }
#spaceduck .Conditional { color: #b3a1e6; }
