#still-alive pre { white-space: pre-wrap; font-family: monospace; color: #d80000; background-color: #f0f0f0; }
#still-alive pre { font-family: monospace; color: #d80000; background-color: #f0f0f0; }
#still-alive * { font-size: 1em; }
#still-alive .Special { color: #2c3c57; }
#still-alive .Identifier { color: #487830; }
#still-alive .Statement { color: #487830; font-weight: bold; }
#still-alive .PreProc { color: #426395; }
#still-alive .Number { color: #183048; }
#still-alive .Operator { color: #d80000; }
#still-alive .String { color: #5c5c6a; }
#still-alive .Comment { color: #f01818; }
#still-alive .Conditional { color: #900000; }
