#summercamp pre { white-space: pre-wrap; font-family: monospace; color: #736e55; background-color: #1c1810; }
#summercamp pre { font-family: monospace; color: #736e55; background-color: #1c1810; }
#summercamp * { font-size: 1em; }
#summercamp .Special { color: #5aebbc; }
#summercamp .Identifier { color: #e35142; }
#summercamp .Statement { color: #e35142; font-weight: bold; }
#summercamp .PreProc { color: #f2ff27; }
#summercamp .Number { color: #fba11b; }
#summercamp .Operator { color: #736e55; }
#summercamp .String { color: #5ceb5a; }
#summercamp .Comment { color: #504b38; }
#summercamp .Conditional { color: #ff8080; }
