#tokyo-night-terminal-light pre { white-space: pre-wrap; font-family: monospace; color: #4c505e; background-color: #d5d6db; }
#tokyo-night-terminal-light pre { font-family: monospace; color: #4c505e; background-color: #d5d6db; }
#tokyo-night-terminal-light * { font-size: 1em; }
#tokyo-night-terminal-light .Special { color: #0f4b6e; }
#tokyo-night-terminal-light .Identifier { color: #8c4351; }
#tokyo-night-terminal-light .Statement { color: #8c4351; font-weight: bold; }
#tokyo-night-terminal-light .PreProc { color: #8f5e15; }
#tokyo-night-terminal-light .Number { color: #965027; }
#tokyo-night-terminal-light .Operator { color: #4c505e; }
#tokyo-night-terminal-light .String { color: #33635c; }
#tokyo-night-terminal-light .Comment { color: #9699a3; }
#tokyo-night-terminal-light .Conditional { color: #5a4a78; }
