#base16-tokyo-city-terminal-light pre { white-space: pre-wrap; font-family: monospace; color: #28323a; background-color: #fbfbfd; }
#base16-tokyo-city-terminal-light pre { font-family: monospace; color: #28323a; background-color: #fbfbfd; }
#base16-tokyo-city-terminal-light * { font-size: 1em; }
#base16-tokyo-city-terminal-light .Special { color: #0f4b6e; }
#base16-tokyo-city-terminal-light .Identifier { color: #8c4351; }
#base16-tokyo-city-terminal-light .Statement { color: #8c4351; font-weight: bold; }
#base16-tokyo-city-terminal-light .PreProc { color: #8f5e15; }
#base16-tokyo-city-terminal-light .Number { color: #965027; }
#base16-tokyo-city-terminal-light .Operator { color: #28323a; }
#base16-tokyo-city-terminal-light .String { color: #33635c; }
#base16-tokyo-city-terminal-light .Comment { color: #b7c5d3; }
#base16-tokyo-city-terminal-light -->
