#tomorrow-night-eighties pre { white-space: pre-wrap; font-family: monospace; color: #cccccc; background-color: #2d2d2d; }
#tomorrow-night-eighties pre { font-family: monospace; color: #cccccc; background-color: #2d2d2d; }
#tomorrow-night-eighties * { font-size: 1em; }
#tomorrow-night-eighties .Special { color: #66cccc; }
#tomorrow-night-eighties .Identifier { color: #f2777a; }
#tomorrow-night-eighties .Statement { color: #f2777a; font-weight: bold; }
#tomorrow-night-eighties .PreProc { color: #ffcc66; }
#tomorrow-night-eighties .Number { color: #f99157; }
#tomorrow-night-eighties .Operator { color: #cccccc; }
#tomorrow-night-eighties .String { color: #99cc99; }
#tomorrow-night-eighties .Comment { color: #999999; }
#tomorrow-night-eighties .Conditional { color: #cc99cc; }
