#base16-tomorrow pre { white-space: pre-wrap; font-family: monospace; color: #4d4d4c; background-color: #ffffff; }
#base16-tomorrow pre { font-family: monospace; color: #4d4d4c; background-color: #ffffff; }
#base16-tomorrow * { font-size: 1em; }
#base16-tomorrow .Identifier { color: #4d4d4c; }
#base16-tomorrow .Statement { color: #c82829; font-weight: bold; }
#base16-tomorrow .PreProc { color: #eab700; }
#base16-tomorrow .String { color: #718c00; }
#base16-tomorrow .Conditional { color: #8959a8; }
#base16-tomorrow .Number { color: #f5871f; }
#base16-tomorrow .Operator { color: #3e999f; }
#base16-tomorrow .Comment { color: #8e908c; font-style: italic; }
#base16-tomorrow .Special { color: #3e999f; }
