#tomorrow-night pre { white-space: pre-wrap; font-family: monospace; color: #c5c8c6; background-color: #1d1f21; }
#tomorrow-night pre { font-family: monospace; color: #c5c8c6; background-color: #1d1f21; }
#tomorrow-night * { font-size: 1em; }
#tomorrow-night .Special { color: #8abeb7; }
#tomorrow-night .Identifier { color: #cc6666; }
#tomorrow-night .Statement { color: #cc6666; font-weight: bold; }
#tomorrow-night .PreProc { color: #f0c674; }
#tomorrow-night .Number { color: #de935f; }
#tomorrow-night .Operator { color: #c5c8c6; }
#tomorrow-night .String { color: #b5bd68; }
#tomorrow-night .Comment { color: #969896; }
#tomorrow-night .Conditional { color: #b294bb; }
