#base16-tomorrow-night pre { white-space: pre-wrap; font-family: monospace; color: #c5c8c6; background-color: #1d1f21; }
#base16-tomorrow-night pre { font-family: monospace; color: #c5c8c6; background-color: #1d1f21; }
#base16-tomorrow-night * { font-size: 1em; }
#base16-tomorrow-night .String { color: #b5bd68; }
#base16-tomorrow-night .Number { color: #de935f; }
#base16-tomorrow-night .Comment { color: #969896; font-style: italic; }
#base16-tomorrow-night .Special { color: #8abeb7; }
#base16-tomorrow-night .Identifier { color: #c5c8c6; }
#base16-tomorrow-night .Statement { color: #cc6666; font-weight: bold; }
#base16-tomorrow-night .PreProc { color: #f0c674; }
#base16-tomorrow-night .Function { color: #81a2be; }
#base16-tomorrow-night .Conditional { color: #b294bb; }
