#base16-unikitty-reversible pre { white-space: pre-wrap; font-family: monospace; color: #c3c2c4; background-color: #2e2a31; }
#base16-unikitty-reversible pre { font-family: monospace; color: #c3c2c4; background-color: #2e2a31; }
#base16-unikitty-reversible * { font-size: 1em; }
#base16-unikitty-reversible .Identifier { color: #c3c2c4; }
#base16-unikitty-reversible .Statement { color: #b33ce8; font-weight: bold; }
#base16-unikitty-reversible .PreProc { color: #149bda; }
#base16-unikitty-reversible .String { color: #17ad98; font-style: italic; }
#base16-unikitty-reversible .Conditional { color: #b33ce8; }
#base16-unikitty-reversible .Number { color: #d65407; }
#base16-unikitty-reversible .Operator { color: #149bda; }
#base16-unikitty-reversible .Comment { color: #878589; font-style: italic; }
#base16-unikitty-reversible .Special { color: #149bda; }
