#base16-windows-nt pre { white-space: pre-wrap; font-family: monospace; color: #c0c0c0; background-color: #000000; }
#base16-windows-nt pre { font-family: monospace; color: #c0c0c0; background-color: #000000; }
#base16-windows-nt * { font-size: 1em; }
#base16-windows-nt .String { color: #00ff00; font-style: italic; }
#base16-windows-nt .Number { color: #808000; }
#base16-windows-nt .Comment { color: #808080; font-style: italic; }
#base16-windows-nt .Special { color: #00ffff; }
#base16-windows-nt .Identifier { color: #c0c0c0; }
#base16-windows-nt .Statement { color: #ff00ff; font-weight: bold; }
#base16-windows-nt .PreProc { color: #00ffff; }
#base16-windows-nt .Function { color: #0000ff; }
#base16-windows-nt .Conditional { color: #ff00ff; }
