#woodland pre { white-space: pre-wrap; font-family: monospace; color: #cabcb1; background-color: #231e18; }
#woodland pre { font-family: monospace; color: #cabcb1; background-color: #231e18; }
#woodland * { font-size: 1em; }
#woodland .Special { color: #6eb958; }
#woodland .Identifier { color: #d35c5c; }
#woodland .Statement { color: #d35c5c; font-weight: bold; }
#woodland .PreProc { color: #e0ac16; }
#woodland .Number { color: #ca7f32; }
#woodland .Operator { color: #cabcb1; }
#woodland .String { color: #b7ba53; }
#woodland .Comment { color: #9d8b70; }
#woodland .Conditional { color: #bb90e2; }
