#base16-woodland pre { white-space: pre-wrap; font-family: monospace; color: #cabcb1; background-color: #231e18; }
#base16-woodland pre { font-family: monospace; color: #cabcb1; background-color: #231e18; }
#base16-woodland * { font-size: 1em; }
#base16-woodland .Special { color: #6eb958; }
#base16-woodland .Identifier { color: #d35c5c; }
#base16-woodland .Statement { color: #d35c5c; font-weight: bold; }
#base16-woodland .PreProc { color: #e0ac16; }
#base16-woodland .Number { color: #ca7f32; }
#base16-woodland .Operator { color: #cabcb1; }
#base16-woodland .String { color: #b7ba53; }
#base16-woodland .Comment { color: #9d8b70; }
#base16-woodland -->
