#xcode-dusk pre { white-space: pre-wrap; font-family: monospace; color: #939599; background-color: #282b35; }
#xcode-dusk pre { font-family: monospace; color: #939599; background-color: #282b35; }
#xcode-dusk * { font-size: 1em; }
#xcode-dusk .Special { color: #00a0be; }
#xcode-dusk .Identifier { color: #b21889; }
#xcode-dusk .Statement { color: #b21889; font-weight: bold; }
#xcode-dusk .PreProc { color: #438288; }
#xcode-dusk .Number { color: #786dc5; }
#xcode-dusk .Operator { color: #939599; }
#xcode-dusk .String { color: #df0002; }
#xcode-dusk .Comment { color: #686a71; }
#xcode-dusk .Conditional { color: #b21889; }
